html, body {
    font-family: 'Lora', serif; 
    background-color: #1d1d1b;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#outer-box {
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.bg-darkgrey {
    background-color: #292929;
}

.text-lightgreen {
    color: #2ECC40;
}

.programming-tag:hover {
    color: #2ECC40;
}

.text-lightred {
    color: #FF4136;
}

.university-tag:hover {
    color: #FF4136;
}

.text-lightblue {
    color: #0074D9;
}

.social-tag:hover {
    color: #0074D9;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

#calendar {
    font-size: 45px;
}