html, body {
    background-color: #1d1d1b;
    height: 100%;
    margin: 0;
    padding: 0;
}

#outer-box {
    color: white;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer-box-content {
    width: 60%;
}

#info-box {
    text-align: center;
    padding-bottom: 20px;

}

#calendar {
    font-size: 40px;
    font-weight: bold;
}

#greeting {
    font-size: 20px;
}

.content-box {
    background-color: #292929;
    width: 30%;
    float: left; 
    text-align: center;
    border-radius: 2%;
}

a {
    text-decoration: none;
    color: #898989;
}

h2 {
    font-size: 20px;
}

.social-tag:hover {
    color: #0074D9;
    font-weight: 400;
}

.university-tag:hover {
    color: #FF4136;
    font-weight: 400;
}

.programming-tag:hover {
    color: #2ECC40;
    font-weight: 400;
}

#social-box h2 {
    color: #0074D9;
}

#university-box h2 {
    color: #FF4136;
}

#programming-box h2 {
    color: #2ECC40;
}


.content-box p {
    color: #898989;
}

.space-box {
    padding: 2.5%;
    float: left;
}

.short-text {
    display: none;
}

@media screen and (max-width: 800px) {
    .short-text {
        display: inline-block;
    }
    
    .full-text {
        display: none;
    }

    #outer-box-content {
        width: 80%;
    }
}