:root {
    --lightgreen: #2ECC40;
    --lightred: #FF4136;
    --lightblue: #0074D9;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Lora', serif; 
    background-color: #1d1d1b;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container #info {
    color: white;
    text-align: center;
}

#container #info h1 {
    font-size: 45px;
    font-weight: 600;
}

#container #info h2 {
    font-size: 20px;
    font-weight: 500;
}

#container #boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#container #boxes .box {
    text-align: center;
    font-size: 15px;

    padding: 20px 40px;
    border-radius: 8px;
    margin: 20px;
    background-color: #292929;
}

#container #boxes .box .short-text {
    display: none;
}

#container #boxes .box img {
    height: 50px;
    width: 50px;
}

#container #boxes .box p a {
    color: white;
} 

#container #boxes .social p a:hover {
    color: var(--lightblue);
}

#container #boxes .university p a:hover {
    color: var(--lightred);
}

#container #boxes .programming p a:hover {
    color: var(--lightgreen);
}

/* Tablet Size */
@media (max-width: 768px) {
    #container #boxes {
        width: 600px;
    }

    #container #boxes .box .long-text {
        display: none;
    }

    #container #boxes .box .short-text {
        display: inline; 
    }
}

/* Smartphone size */
@media (max-width: 425px) {
    #container {
        padding-top: 100px;
    }
    
    #container #boxes {
        grid-template-columns: 1fr;
        width: 70%;
    }
}